@import "Style/constants";
@import "Style/mixins";

.input {
  border-radius: 0.29rem;
  border: 0.07rem solid $color-shade-forth;
  padding: 0 1.07rem;
  color: $color-shade-second;
  transition: border-color 0.4s;
  outline: none;
  &:focus,
  &:hover {
    border-color: $color-shade-second;
  }
  &__text {
    padding-left: 0.71rem;
  }

  &__toggle[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    @include oval-rectangle;
    $width: 2.86rem;
    display: flex;
    align-items: center;
    padding: 0 0.29rem;
    &:focus {
      outline: 0;
    }
    &:after {
      content: "";
      display: inline-block;
      width: 0.86rem;
      height: 0.86rem;
      border-radius: 50%;
      background: $color-shade-forth;
      box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
      transition: transform 0.5s cubic-bezier(0.5, 0.1, 0.75, 1.35);
    }

    &:checked {
      border-color: $color-purple;
      &:after {
        transform: translatex(($width * 0.44));
        background: $color-gradient;
      }
    }
  }
  &__label-toggle {
    display: flex;
    align-items: center;
  }
  &_default {
    height: 3.14rem;
    flex: 1 1 22.86rem;
  }
  &__checkbox {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    span {
      order: -1;
      position: relative;
      display: block;
    }
    & + span::before {
      content: "";
      display: inline-block;
      width: 1.43rem;
      height: 1.43rem;
      box-sizing: border-box;
      flex-shrink: 0;
      flex-grow: 0;
      transition: border 0.5s;
      border: 0.07rem solid $color-purple;
      border-radius: 0.29rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    &:checked + span::before {
      font-family: "Material Icons";
      content: "\e876";
    }
  }
  &__label-radio {
    display: flex;
    & span::after {
      content: "";
      display: inline-block;
      width: 1.43rem;
      height: 1.43rem;
      box-sizing: border-box;
      flex-shrink: 0;
      flex-grow: 0;
      border: 0.07rem solid $color-purple;
      border-radius: 50%;
      background-color: white;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    span {
      order: -1;
    }
    .input {
      &__radio {
        &:checked + span::after {
          background: $color-gradient;
          box-shadow: inset 0 0 0 0.21rem white;
        }
      }
    }
  }
}
// временно.  надо пофиксить!!!!
.wrapper-input {
  position: relative;
  display: flex;
  .input__button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    color: $color-shade-second;
    font-size: 1.71rem;
    background: none;
    padding: 0.71rem;
  }
}

// /временно

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  // display: none;
}
.input__label-checkbox {
  display: flex;
  color: $color-shade-second;
  span {
    order: -1;
    position: relative;
  }
  &:hover span::before {
    border-color: black;
  }
}
input::-webkit-input-placeholder {
  color: $color-shade-forth;
  transition: color 0.4s;
}
input:-moz-placeholder {
  color: $color-shade-forth;
}
input:focus::-webkit-input-placeholder {
  color: $color-shade-second;
}
input:focus-moz-placeholder {
  color: $color-shade-second;
}
input:hover::-webkit-input-placeholder {
  color: $color-shade-second;
}
input:hover-moz-placeholder {
  color: $color-shade-second;
}

// --rating--
.rating {
  display: flex;
  &__body {
    position: relative;
    &::before {
      display: block;
      font-family: "Material Icons";
      $content: "\f06f";
      @for $i from 1 through 4 {
        $content: $content + "\f06f";
      }
      font-size: 1.71rem;
      content: $content;
      background: $color-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__active {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    overflow: hidden;
    &::before {
      $content: "\e838";
      @for $i from 1 through 4 {
        $content: $content + "\e838";
      }
      font-family: "Material Icons";
      content: $content;
      background: $color-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 1.71rem;
    }
  }
  &__items {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
  }
}

// --/rating--
