mixin input(options)
  if !options
    - options = {}
  if (options.type ==='text' || options.type ==='email' || options.type ==='date')
    .wrapper-input
      input.input(
        class = options.class,
        type = options.type, 
        placeholder = options.placeholder,
        name = options.name,
        data-inputmask = options.inputmask
        )
      if (options.isSubmit) 
        button.input__button.material-icons-outlined arrow_forward
    
    
  if (options.type === 'checkbox' || options.type === 'radio')
    label(class=`input__label-${options.mode}`)
      .input__text  #{options.label}
      input(class=[`input__${options.mode}`],
        type = options.type,
        name = options.name,
        checked = options.checked
      )
      if (options.mode === 'checkbox' || options.type === 'radio')
        span

        
  if (options.mode === 'rating')
    .rating.rating_set
      .rating__body
        .rating__active
        .rating__items
          - var n = 1
          while n < 6
            input.rating__item(type="radio" value = `${n++}` name="rating")
          