@import "Style/constants";
@import "Style/mixins";
@import "../../library-blocks/datepicker/datepicker";
.input {
  display: flex;
  border: 0.07rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0.29rem;
  transition: border-color 0.4s;
  &_focused {
    border: 1px solid $color-shade-third;
    .input__main {
      &::placeholder {
        color: $color-shade-second;
        transition: color 0.4s;
      }
      :-moz-input-placeholder {
        color: $color-shade-second;
        transition: color 0.4s;
      }
    }
  }
  &_withDate {
    max-width: 10.57rem;
    position: relative;
    .input__main {
      text-transform: uppercase;
    }
    &::after {
      position: absolute;
      font-family: "Material Icons";
      font-size: 1.71rem;
      padding: 0 0.71rem;
      color: $color-shade-third;
      content: "\e5cf";
      top: 50%;
      transform: translate(0, -50%);
      right: 0;
    }
  }
  .input__button.input_withDropdown {
    background: $color-shade-third;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &_withDatePicker.input {
    border: none;
    .input__main,
    .input__button {
      display: none;
    }
  }
  &:hover {
    border-color: $color-shade-second;
  }
  .input__button {
    color: $color-shade-second;
    font-size: 1.71rem;
    padding: 0 0.72rem;
    border: none;
    background: $color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__main {
    border-radius: 0.29rem;
    border: none;
    padding: 0.67rem 1.07rem;
    color: $color-shade-second;
    transition: border-color 0.4s;
    outline: none;
    flex: 1 1 22.86rem;
    line-height: 1.71rem;
    width: 100%;
    &::placeholder {
      color: $color-shade-forth;
      transition: color 0.4s;
    }
    &:-moz-input-placeholder {
      color: $color-shade-forth;
      transition: color 0.4s;
    }
    &::-ms-input-placeholder {
      color: $color-shade-forth;
      transition: color 0.4s;
    }
    &:focus::placeholder,
    &:hover::placeholder {
      color: $color-shade-second;
    }
    &_withDatePicker {
      max-width: 148px;
    }
  }
  &__text {
    padding-left: 0.71rem;
  }

  &__toggle[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    @include oval-rectangle;
    $width: 2.86rem;
    display: flex;
    align-items: center;
    padding: 0 0.29rem;
    &:focus {
      outline: 0;
    }
    &:after {
      content: "";
      display: inline-block;
      width: 0.86rem;
      height: 0.86rem;
      border-radius: 50%;
      background: $color-shade-forth;
      box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
      transition: transform 0.5s cubic-bezier(0.5, 0.1, 0.75, 1.35);
    }

    &:checked {
      border-color: $color-purple;
      &:after {
        transform: translatex(($width * 0.44));
        background: $color-gradient;
      }
    }
  }
  &__label-toggle {
    display: flex;
    align-items: center;
  }
  &__checkbox {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;

    &:checked + span img {
      display: block;
    }
  }
  &__label-checkbox {
    display: flex;
    color: $color-shade-second;
    span {
      flex: 0 0 1.43rem;
      height: 1.43rem;
      display: flex;
      box-sizing: border-box;
      transition: border 0.5s;
      border: 0.07rem solid $color-purple;
      border-radius: 0.29rem;
      justify-content: center;
      align-items: center;
      order: -1;
      img {
        display: none;
        width: 0.71rem;
        height: 0.64rem;
      }
    }
    &:hover span::before {
      border-color: black;
    }
  }

  &__radio {
    &:checked + span::after {
      background: $color-gradient;
      box-shadow: inset 0 0 0 0.21rem white;
    }
    &:checked,
    &:not(:checked) {
      opacity: 0;
    }
  }
  &__label-radio {
    display: flex;
    & span::after {
      content: "";
      display: inline-block;
      width: 1.43rem;
      height: 1.43rem;
      box-sizing: border-box;
      flex-shrink: 0;
      flex-grow: 0;
      border: 0.07rem solid $color-purple;
      border-radius: 50%;
      background-color: white;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    span {
      order: -1;
    }
  }
}

// --rating--
.rating {
  display: flex;
  &__body {
    position: relative;
    &::before {
      display: block;
      font-family: "Material Icons";
      $content: "\f06f";
      @for $i from 1 through 4 {
        $content: $content + "\f06f";
      }
      font-size: 1.71rem;
      content: $content;
      background: $color-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__active {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    overflow: hidden;
    &::before {
      $content: "\e838";
      @for $i from 1 through 4 {
        $content: $content + "\e838";
      }
      font-family: "Material Icons";
      content: $content;
      background: $color-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 1.71rem;
    }
  }
  &__items {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
  }
}

// --/rating--
