mixin input(options)
  if !options
    - options = {}
  if (options.type ==='text' || options.type ==='email')
    input.input.input_default(
      type = options.type, 
      placeholder = options.placeholder,
      name = options.name
      )
  if (options.type === 'checkbox')
    if (options.mode === 'toggle')
      label.input__label-toggle #{options.label}
        input.input__toggle(
          type = options.type,
          name = options.name,
          checked = options.checked
        )