.air-datepicker {
  min-width: 22.86rem;
  border: 1px solid $color-shade-forth;
  font-family: "Montserrat", sans-serif;
  --adp-day-cell-height: 40px;
  .air-datepicker-nav {
    padding: 1.43rem;
    border-bottom: none;
    .air-datepicker-nav--action {
      position: relative;
      font-size: 1.71rem;
      color: $color-purple;
      &::after {
        position: absolute;
        font-family: "Material Icons";
        top: 50%;
        transform: translate(0, -50%);
      }
      svg {
        display: none;
      }
    }
    .air-datepicker-nav--action[data-action="prev"] {
      &::after {
        content: "\e5c4";
        left: 0;
      }
    }
    .air-datepicker-nav--action[data-action="next"] {
      &::after {
        content: "\e5c8";
        right: 0;
      }
    }
    .air-datepicker-nav--title {
      font-size: 1.36rem;
      color: $color-shade-first;
    }
  }
  .air-datepicker--content {
    padding: 0 1.43rem;
  }
  .air-datepicker-body {
    .air-datepicker-body--day-names {
      .air-datepicker-body--day-name {
        color: $color-purple;
        font-weight: bold;
        font-size: 0.86rem;
        text-transform: initial;
      }
    }
    .air-datepicker-body--cells {
      // min-width: 20.5rem;
      .air-datepicker-cell.-day- {
        min-height: 2.86rem;
        max-width: 2.86rem;
        font-size: 0.86rem;
        border-radius: 50%;
        color: $color-shade-third;
        &.-in-range- {
          background: linear-gradient(rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
          border-radius: 0;
        }
      }
      .air-datepicker-cell.-day-.-other-month- {
        color: $color-shade-forth;
      }

      .air-datepicker-cell.-day-.-selected- {
        background: linear-gradient(#6fcf97 0%, #66d2ea 100%);
        color: white;
        &.-range-from-,
        &.-range-to- {
          background: $color-gradient;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 50%;
            top: 0;
            background: linear-gradient(rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
          }
        }
        &.-range-from- {
          &::before {
            right: 0;
          }
        }
        &.-range-to- {
          &::before {
            left: 0;
          }
        }
      }
    }
  }
  .air-datepicker--buttons {
    border-top: none;
    padding: 0 1.43rem;
    .air-datepicker-buttons {
      padding: 1.43rem 0;
      display: flex;
      justify-content: space-between;
    }
    .air-datepicker-button {
      max-height: 16px;
      padding: 0;
      font-weight: bold;
      color: $color-purple;
      text-transform: uppercase;
    }
  }
}
