.color {
  &__description {
    font-size: 1.36rem;
    padding-left: 2.86rem;
    text-align: left;
    margin: auto 0;
    dt {
      font-weight: bold;
    }
    dd {
      margin-left: 0;
      text-transform: uppercase;
    }
  }
}
