extends ../base/base

include ../../common-blocks/layout/layout
include ../../common-blocks/form-items/form-items
include ../../common-blocks/form-item/form-item
include ../../common-blocks/button/button
include ../../common-blocks/input/input
include ../../common-blocks/dropdown/dropdown


block title
  | Forms Elements

block variables

block content
  +layout
    +form-items
      +form-item({title: "Text field", modifier: "Default"})
        +input({type: 'email', placeholder: 'Email'})
      +form-item({title: "Text field", modifier: "Hover / focus"})
        +input({type: 'text', placeholder: 'This is pretty awesome'})
      +form-item({title: "Toggle"})
        +input({type: 'checkbox', mode: 'toggle', label: 'Получать спецпредложение', checked: 'checked'})
        +input({type: 'checkbox', mode: 'toggle', label: 'Получать спецпредложение'})
      +form-item({title: "Dropdown"})
        +dropdown
      +form-item({title: "Masked Text field"})
        +input({class: 'input-mask', inputmask: "'alias': 'datetime'", type: 'text', placeholder: 'ДД.ММ.ГГГГ'})
        +input({class: 'input-mask', inputmask: "'alias': 'datetime'", type: 'text', placeholder: 'ДД.ММ.ГГГГ'})

      +form-item({title: "Checkbox buttons"})
        +input({type: 'checkbox', mode: 'checkbox', label: 'Можно курить'})
        +input({type: 'checkbox', mode: 'checkbox', label: 'Можно с питомцами'})
        +input({type: 'checkbox', mode: 'checkbox', label: 'Можно пригласить гостей (до 10 человек)'})

      +form-item({title: "Radio buttons"})
        +input({type: 'radio', mode: 'radio', name: 'gender', checked: 'checked', label: 'Мужчина'})
        +input({type: 'radio', mode: 'radio', name: 'gender', label: 'Женщина'})
      
      +form-item({title: "Subscription text field"})
        +input({class: 'input__email_with-button',type: 'email', placeholder: 'Email', button: 'true'})
        
      +button({text: 'Стандарт', class: 'ke'})
      +button({text: 'Click me', class: ['button_small', 'button_transparent']})
      +button({text: 'Войти', class: ['button_small', 'button_transparent']})
      +button({text: 'Войти', class: ['button_small', 'button_solid']})
      +button({text: 'Подключить', class: ['button_big', 'button_solid']})
      