extends ../base/base

include ../../common-blocks/layout/layout
include ../../common-blocks/button/button
include ../../common-blocks/input/input

block title
  | Forms Elements

block variables

block content
  +button({text: 'Стандарт', class: 'ke'})
  +button({text: 'Click me', class: ['button_small', 'button_transparent']})
  +button({text: 'Войти', class: ['button_small', 'button_transparent']})
  +button({text: 'Войти', class: ['button_small', 'button_solid']})
  +button({text: 'Подключить', class: ['button_big', 'button_solid']})
  +input({type: 'email', placeholder: 'Email'})
  +input({type: 'text', placeholder: 'Text'})