@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf"), url("../assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../assets/fonts/Montserrat/Montserrat-Regular.svg") format("svg");
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("ttf"), url("../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../assets/fonts/Montserrat/Montserrat-Bold.svg") format("svg");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  src: url("../assets/fonts/Material/MaterialIconsOutlined-Regular.ttf") format("ttf"), url("../assets/fonts/Material/MaterialIconsOutlined-Regular.woff") format("woff"), url("../assets/fonts/Material/MaterialIconsOutlined-Regular.svg") format("svg");
}
