mixin button( options)
  if !options
    - options = {}
  if (options.mode==='button')
    button.button(
      class = options.class 
    ) #{options.text}
  if (options.mode==='link')
    a.button(
      class = options.class,
      href = options.href
    ) #{options.text}