@import "Style/constants";
@import "Style/mixins";
.button {
  border-radius: 1.57rem;
  font-size: 0.86rem;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  &__like {
    @include oval-rectangle;
    background: transparent;
    font-size: 0.71rem;
    position: relative;
    padding-left: 1.43rem;
    &::before {
      font-family: "Material Icons";
      content: "\e87e";
      position: absolute;
      padding: 0 0.36rem;
      color: $color-shade-forth;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
    &_active {
      &::before {
        content: "\e87d";
      }
    }
    // &:hover::before {
    //
    // }
  }
  &_small {
    padding: 1rem 1.43rem 1.07rem 1.43rem;
  }
  &_big {
    min-width: 22.86rem;
    padding: 1rem 1.43rem 1.07rem 1.43rem;
  }
  &_transparent {
    position: relative;
    $border: 2px;
    color: $color-purple;
    background: white;
    background-clip: padding-box;
    border: solid $border transparent;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: $color-gradient;
      transition: opacity 0.4s;
    }
    &:hover::before {
      opacity: 0.5;
    }
  }
  &_solid {
    background: $color-gradient;
    color: white;
    border: none;
    &:hover {
      background: linear-gradient(rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
    }
  }
}
