mixin button( options)
  if !options
    - options = {}
  -
    var classes = ''
    classes += options.type ? ' button_' + options.type : ''
    classes += options.size ? ' button_' + options.size : ''
    classes += options.theme ? ' button_' + options.theme : ''
    classes += options.isLike ? ' button_with-like' : ''
    classes += options.isConnect ? ' button_connected' : ''
    classes += options.activeLike ? ' button_with-like_' + options.activeLike : ''
    if (!options.isLike) {
        classes += ' button_default'
    }
  
  - var tag = options.tag ? "a" : "button"

  #{tag}.button(class=classes,
    type = options.isSubmit ? 'submit' : false,
    tabindex = options.tabindex || false
  )
    .button__text= options.text || 'Button'
  
  
  