@import "Style/constants";

.button {
  height: 3.14rem;
  border-radius: 1.57rem;
  font-size: 0.86rem;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &_small {
    padding: 0 1.43rem;
  }
  &_big {
    width: 22.86rem;
  }
  &_transparent {
    position: relative;
    $border: 2px;
    color: $color-purple;
    background: white;
    background-clip: padding-box;
    border: solid $border transparent;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: $color-gradient;
      transition: opacity 0.4s;
    }
    &:hover::before {
      opacity: 0.5;
    }
  }
  &_solid {
    background: $color-gradient;
    color: white;
    border: none;
    &:hover {
      background: linear-gradient(rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
    }
  }
}
