@import "../assets/fonts/fonts.scss";

html {
  font-size: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 1.71rem;
}
h2 {
  font-size: 1.36rem;
}
h3 {
  font-size: 0.86rem;
}
