mixin form-item(options)
  if !options
    - options = {}
  -
    var classes = ''
    classes += options.horizontal ? " form-item__main_horizontal" : ""
  fieldset.form-items__item.form-item
    .form-item__top 
      h3.form-item__title #{options.title}
      if options.modifier
        span.form-item__modifier #{options.modifier}
      if options.isRangeSlider
        .form-item__modifier.numbers-range
          span.first-number
          |  - 
          span.second-number
    .form-item__main(class = classes)
      block