@import "Style/constants";

.form-item {
  max-width: 22.86rem;
  display: block;
  border: none;
  &__top {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    margin-bottom: 0.36rem;
  }
  &__modifier {
    font-size: 0.86rem;
    color: $color-shade-second;
  }
}
