@import "Style/constants";

.type {
  &__term {
    color: $color-shade-forth;
    flex: 0 0 2.64rem;
    text-align: right;
    text-transform: capitalize;
    h1,
    h2,
    h3 {
      font-weight: 400;
    }
  }
}
